@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: libra ;
    src: url("./components/poster/textstyle/LibreBaskerville-Bold.ttf");
}

body {
  background-color: black;
  color: white; /* optional: makes text readable */
}